@media only screen and (max-width:804px) {
    
    /** Navegation Menu **/
    .nav__div_span{
        position: absolute;
        top: 12px;
        right: 30px;
        display: block;
        color:#fff;
        font-size: 30px;
        cursor: pointer;
    }
    .header__nav .header__nav_list{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #000;
        border-top: 3px solid #fff;
    }
    .header__nav .header__nav_list .nav__list_ul{
        display: block;
        width: 90%;
        margin:50px auto;
    }
    .header__nav .header__nav_list .nav__list_ul li{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #fff;
    }
    .header__nav .header__nav_list .nav__list_ul li a{
        margin:5px 0px;
    }

    /** Img Header **/
    .header__figure .header__figure_div{
        width: 80%;
        margin:auto;
    }
    .header__figure .header__figure_div h4{
        font-size: 30px;
        line-height: 45px;
    }
    .header__figure .header__figure_div > h2 a{
        font-size: 40px;
    }

    /** About Us **/
    .main__section .main__section_div h3{font-size: 35px;}
    .main__section .main__section_div p{font-size: 18px;}
    .div__div_a{
        text-decoration: none;
    }

    /** Gallery **/
    .section2__div_div{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(12, 350px);
        grid-gap: 20px;
    }

    /** Modal **/
    .modal #imgModal{
        width: 95%;
        height: 55%;
    }
    

}